<!doctype html>
<html>
<head>
  <title>German Quiz</title>
  <link rel="stylesheet" href="global.css">
  <script type="text/javascript" src="global.js" defer></script>
</head>
<body>
  <h2>Translate to German</h2>
  <% Question.all.each do |question| %>
  <% if question.id == 1 %>
    <% @class = "show_content" %>
  <% else %>
    <% @class = "hide_content" %>
  <% end %>
  <div id="q<%= question.id %>" class="question_info <%= @class %>">
    <h3>Question <%= question.id %></h3>
    <p>
      <%= question.vocabulary %>:
    </p>
    <ul>
      <% question.choices.each do |choice| %>
      <li><%= choice.choice %></li>
      <% end %>
    </ul>
    <form>
      <input type="text" id="q<%= question.id %>_given_answer">
    </form>
    <% @answer = question.answer %>
    <div id="<%= @answer %>" class="correct_answer"></div>
    <button id="q<%= question.id %>_submitter" class="submit_button">Submit</button>
    <div id="q<%= question.id %>_result">

    </div>
    <% if question.id == Question.all.length  %>
      <button id="grade_button">Grade</button>
    <% else %>
      <button id="q<%= question.id %>_next" class="next">Next</button>
    <% end %>
  </div>
  <% end %>

  <div id="score_display">

  </div>

  <p>
    <a href="add_question">Add new questions</a>
  </p>

</body>
</html>
